<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap" rel="stylesheet">CSS rules to specify families font-family: 'Mulish',
sans-serif;
link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Roboto:wght@300;400&display=swap" rel="stylesheet">CSS rules to specify families font-family: 'Mulish',
sans-serif;
font-family: 'Roboto',
sans-serif;
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Noto+Sans+TC:wght@300&family=Roboto:wght@300;400&display=swap" rel="stylesheet">CSS rules to specify families font-family: 'Mulish',
sans-serif;
font-family: 'Noto Sans TC',
sans-serif;
font-family: 'Roboto',
sans-serif;