.container {
    display: flex;
}

.container-lg {
    height: 5060px;
    width: 270px;
    background: rgb(223, 80, 14);
    padding-top: 150px;
}

.container-profile {
    height: 120px;
    width: 150px;
    background: pink;
    margin-left: 50px;
    border-radius: 100%;
}

.container-contents {
    height: 300px;
    width: 150px;
    margin-left: 50px;
}

.text {
    color: rgb(32, 26, 26);
    text-align: center;
}

.container-md {
    height: 5200px;
    width: 50px;
}

.container-xl {
    height: 4800px;
    width: 980px;
}

.container-address {
    padding-top: 150px;
    height: 700px;
    width: 980px;
    font-family: 'Roboto', 'Noto Sans TC';
}

.container-address h1 {
    color: orangered;
}

.container-address p {
    font-family: 'Noto Sans TC';
}

.container-experience p {
    font-family: 'Noto Sans TC';
    font-weight: 500;
}

.container-info {
    height: 250px;
    width: 680px;
}

.container-duration {
    height: 50px;
    width: 300px;
}

.container-education {
    height: 750px;
    width: 980px;
    font-family: 'Roboto', 'Noto Sans TC';
}

.container-skills {
    height: 700px;
    width: 980px;
    font-family: 'Roboto', 'Noto Sans TC';
}

.container-interests {
    height: 700px;
    width: 980px;
    font-family: 'Roboto', 'Noto Sans TC';
}

.container-awards {
    height: 700px;
    width: 980px;
    font-family: 'Roboto', 'Noto Sans TC';
}

.d-flex {
    display: flex;
}

.container-line {
    height: 1px;
    width: 980px;
    background: grey;
}