.left-panel {
    background: #bd5d38;
}

.about {
    height: 100vh;
    font-family: 'Roboto', 'Noto Sans TC';
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience {
    height: 100vh;
    font-family: 'Roboto', 'Noto Sans TC';
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    width: 700px;
}

.education {
    height: 100vh;
    font-family: 'Roboto', 'Noto Sans TC';
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills {
    height: 100vh;
    font-family: 'Roboto', 'Noto Sans TC';
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.interests {
    height: 100vh;
    font-family: 'Roboto', 'Noto Sans TC';
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.awards {
    height: 100vh;
    font-family: 'Roboto', 'Noto Sans TC';
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-fluid {
    display: flex;
}

.row-1 {
    width: 250px;
}

.d-flex {
    display: flex;
}

.text {
    text-align: center;
    color: beige;
}

.profile {
    height: 100px;
    width: 100px;
    background: skyblue;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
}

.about .experience p {
    font-family: 'Noto Sans TC';
}

.right-panel {
    margin-left: 50px;
}

.about .surname {
    color: #bd5d38;
}

.icons .icon1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: rgb(65, 63, 63);
    border-radius: 50%;
    color: beige;
}

.text1 {
    color: #bd5d38;
}