.col-md {
    height: 4200px;
    width: 250px;
    background: rgb(236, 158, 14);
}

.col-abt {
    height: 700px;
    width: 1000px;
    font-family: 'Roboto', 'Noto Sans TC';
}

.col-exp {
    height: 700px;
    width: 1000px;
    font-family: 'Roboto', 'Noto Sans TC';
}

.col-2 {
    height: 200px;
    width: 700px;
}

.col-edu {
    height: 700px;
    width: 1000px;
    font-family: 'Roboto', 'Noto Sans TC';
}

.col-edu .col-2 {
    margin-top: 200px;
}

.col-skill {
    height: 700px;
    width: 1000px;
    font-family: 'Roboto', 'Noto Sans TC';
}

.row-3 {
    height: 700px;
    width: 1000px;
    font-family: 'Roboto', 'Noto Sans TC';
}

.row-7 {
    height: 700px;
    width: 1000px;
    font-family: 'Roboto', 'Noto Sans TC';
}

.container {
    display: flex;
}

.row-1 {
    height: 200px;
    width: 250px;
}

.d-flex {
    display: flex;
}

.text {
    text-align: center;
}

.col-edu .row-1 {
    margin-top: 200px;
}

.profile {
    height: 100px;
    width: 100px;
    background: skyblue;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 50px;
}

.nav-bar {
    margin-left: 20px;
}

.col-abt .col-exp p {
    font-family: 'Noto Sans TC';
}

.col-lg {
    margin-left: 50px;
}

.col-abt h1 {
    color: rgb(236, 158, 14);
}